$red: #E63114;
$black: #1B1918;
$black-opacity-80: #1B1918CC;
$grey: #A0A0A0;
$grey-two: #8e8e8e;
$grey-three: #9A9A9A;
$grey-four: #707176;
$grey-bg: #F5F5F5;
$grey-bg-dark: #5E5E5E;
$light-grey: #A4A7AA;
$dark-grey: #646464;
$white: #FFF;
$beige: #C1A584;
$beige-light: rgba(193, 165, 132, 0.6);
$beige-hover: #D8B48A;
$beige-active: #B29879;
$green-bg: #8BDA8EF2;
$green-bg-hover: #77D17B;
$green-bg-active: #7CC67E;
$btn-bg-close: #5E5E5E;
$btn-bg-close-hover: #999999;
$btn-bg-close-active: #454545;
$input-text: #606060;
$input-text-disabled: #CFCFCF;
$link-policy-text: #FFFFFF78;
$slider-border: #E9E9E9;
$slider-bg-hover: #F4F4F4;
$slider-bg-active: #EBEBEB;
$button-black: #2F2D2D;
$application-bg: #2A2828;
$background-modal-white: #FFF;
$background-modal-black: #2F2D2D;
